@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

@layer utilities {

  .borderRadius {
    @apply border-2 border-slate-300 rounded-2xl
  }

  .borderRadiusFull {
    @apply border-2 border-slate-300 rounded-full
  }

  .padding-X {
    @apply lg:px-5 md:px-5 sm:px-5
  }

  .padding-Y {
    @apply lg:py-5 md:py-5 sm:py-5
  }

  .autoFlexJustify {
    @apply mx-auto flex justify-center
  }

  .hero-responsive {
    @apply sm:text-3xl md:text-5xl lg:text-7xl xl:text-8xl
  }

  .products-text {
    @apply sm:text-sm md:text-lg lg:text-xl xl:text-2xl text-white
  }

  .navbar {
    @apply lg:text-lg xl:text-xl py-3 text-black md:px-6 
           text-center border-b-2 md:border-b-0 hover:bg-lime-300 
           border-lime-600 md:hover:text-lime-300 
           md:hover:bg-transparent cursor-pointer 
  }

}


